@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: grey;
    font-family: 'anton', 'sans-serif';
}
#clock{
    display: flex;
    font-size: 10rem;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
#nie{
    font-size: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
}